In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/Users/gautammehta/Downloads/GroceryList.xlsx - Daily meal plan.csv')

In [3]:
data.head(5)

,Days,DATE,Breakfast,Breakfast_Assigned,Lunch,lunch_Assigned,Dinner,dinner_Assigned
0,1,August/18/2025,Cheela,Jatin,Mushroom + Roti,Gautam,Rajma +Roti,Vanshika
1,2,August/19/2015,Dosa,Gautam,aloo matar rice,Vanshika,panner burji + roti,Jatin
2,3,August/20/2015,NaN,NaN,NaN,NaN,NaN,NaN
3,4,August/21/2015,NaN,NaN,NaN,NaN,NaN,NaN
4,5,August/22/2015,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.drop(columns=['DATE','Days'],inplace=True)

In [5]:
df=data[['Breakfast_Assigned','lunch_Assigned','dinner_Assigned']]

In [6]:
df.rename(columns={'Breakfast_Assigned':'Breakfast','lunch_Assigned':'Lunch','dinner_Assigned':'Dinner'},inplace=True)

/var/folders/82/fhbz1rdx6fl8gc4pzrdbs77w0000gn/T/ipykernel_77514/865977043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Breakfast_Assigned':'Breakfast','lunch_Assigned':'Lunch','dinner_Assigned':'Dinner'},inplace=True)

In [7]:
long = df.melt(var_name='Meal', value_name='Assigned')

In [8]:
pivot = pd.crosstab(long['Assigned'], long['Meal']) 
pivot = pivot.reindex(index=['Gautam','Jatin','Vanshika'],
                      columns=['Breakfast','Lunch','Dinner'],
                      fill_value=0)
pivot

Meal      Breakfast  Lunch  Dinner
Assigned
Gautam            1      1       0
Jatin             1      0       1
Vanshika          0      1       1

In [99]:
data1=pd.read_csv('/Users/gautammehta/Downloads/GroceryList.xlsx - Daily meal plan.csv')
df1=data1[['Breakfast','Lunch','Dinner']]
df1=df1.melt()
df1=df1[~df1['value'].isnull()]
# assumes your column is 'value'
df1[['dish1','dish2']] = df1['value'].str.capitalize().str.split(r'\s*\+\s*', n=1, expand=True)
df1.drop(columns='value',inplace=True)
df2 = df1[['variable', 'dish1']].rename(columns={'dish1': 'dish'})
df3 = df1[['variable', 'dish2']].rename(columns={'dish2': 'dish'})
df3=df3[~df3['dish'].isna()]
union_all = pd.concat([df2, df3], ignore_index=True)
union_all['dish']=pd.Series(union_all['dish'].str.capitalize())
a=union_all['dish'].value_counts().reset_index()
a=a.iloc[:3,:]
int(a['count'][0])

3

dish     Roti
count       3
Name: 0, dtype: object